@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
@font-face {
  font-family: "my_font";
  src: local("Heiti TC"), local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF, U+2E80-2EFF, U+0020-007F;
}
@font-face {
  font-family: "my_font";
  src: url(../font/Bahnschrift.TTF);
  unicode-range: U+0020-007F;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

main {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  font-family: "my_font";
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px;
}

select, input {
  font-family: "my_font";
  outline: none;
}

html {
  font-family: "my_font";
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px auto;
}

a:link {
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
  min-width: 1280px;
}
html body article {
  width: 1200px;
  height: 100%;
  margin: 0px auto;
}
html body header {
  position: fixed;
  width: 100%;
  min-width: 1280px;
  height: 130px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(27, 44, 136, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(27, 44, 136, 0.3);
  background: #fff;
  z-index: 10;
}
html body header .top {
  width: 100%;
  height: 45px;
  background: #2f333d;
}
html body header .top article .time {
  font-weight: bold;
  color: #b4bac8;
  font-size: 12px;
  line-height: 45px;
}
html body header .top article ul {
  float: right;
}
html body header .top article ul li {
  float: left;
  line-height: 45px;
}
html body header .top article ul li.account.turn .loginbtn, html body header .top article ul li.account.turn .signupbtn {
  display: none;
}
html body header .top article ul li.account.turn .logoutbtn {
  display: inline-block;
}
html body header .top article ul li.account .logoutbtn {
  display: none;
}
html body header .top article ul li .forget {
  color: #b4bac8;
  font-size: 14px;
  font-weight: bold;
}
html body header .top article ul li .inputbox {
  float: left;
  margin: 0px 3px;
  position: relative;
}
html body header .top article ul li .inputbox::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-size: 200%;
  background: url("../images/account_ic.png") no-repeat;
  top: 18px;
  left: 11px;
}
html body header .top article ul li .inputbox:first-child {
  margin-left: 20px;
}
html body header .top article ul li .inputbox:last-child {
  margin-right: 20px;
}
html body header .top article ul li .inputbox:last-child::before {
  background-position-x: -11px;
}
html body header .top article ul li .inputbox input {
  width: 140px;
  height: 24px;
  border: none;
  font-size: 15px;
  padding-left: 30px;
  border-radius: 5px;
  color: #dddeec;
  background: #747a87;
}
html body header .top article ul li .topbtn {
  width: 100px;
  height: 24px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff5a00), to(#ffa200));
  background: linear-gradient(to top, #ff5a00 0%, #ffa200 100%);
  background-color: #ff5a00;
  border-radius: 5px;
  margin-right: 3px;
  color: #fff;
  font-size: 15px;
  padding-bottom: 1px;
  /*for IE*/
  /*for IE 9*/
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html body header .top article ul li .topbtn {
    line-height: 0px;
  }
}
@media all and (min-width: 0\0 ) and (-webkit-min-device-pixel-ratio: 0), all and (min-width: 0\0 ) and (min-resolution: 0.001dpcm) {
  html body header .top article ul li .topbtn {
    line-height: 0px;
  }
}
html body header .top article ul li .topbtn:hover, html body header .top article ul li .topbtn:active, html body header .top article ul li .topbtn.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#ffbe00), to(#ff5600));
  background: linear-gradient(to top, #ffbe00 0%, #ff5600 100%);
  background-color: #ffa200;
  -webkit-box-shadow: 0px 0px 2px 0px #000 inset;
          box-shadow: 0px 0px 2px 0px #000 inset;
}
html body header .top article ul li .topbtn.signupbtn, html body header .top article ul li .topbtn.logoutbtn {
  margin-right: 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff3600), to(#ff6c00));
  background: linear-gradient(to top, #ff3600 0%, #ff6c00 100%);
  background-color: #ff6c00;
}
html body header .top article ul li .topbtn.signupbtn:hover, html body header .top article ul li .topbtn.signupbtn:active, html body header .top article ul li .topbtn.signupbtn.active, html body header .top article ul li .topbtn.logoutbtn:hover, html body header .top article ul li .topbtn.logoutbtn:active, html body header .top article ul li .topbtn.logoutbtn.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#a72300), to(#d05000));
  background: linear-gradient(to bottom, #a72300 0%, #d05000 100%);
  background-color: #ff3600;
}
html body header .top article ul li .langbox {
  margin: -1px 0px 0px 20px;
  position: relative;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  /*for IE*/
  /*for IE 9*/
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html body header .top article ul li .langbox::before {
    display: none;
  }
}
@media all and (min-width: 0\0 ) and (-webkit-min-device-pixel-ratio: 0), all and (min-width: 0\0 ) and (min-resolution: 0.001dpcm) {
  html body header .top article ul li .langbox::before {
    display: none;
  }
}
html body header .top article ul li .langbox::before {
  content: "";
  position: absolute;
  top: 22px;
  right: 8px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px;
  border-color: #fff transparent transparent transparent;
}
html body header .top article ul li .langbox select {
  background: #000;
  border-radius: 5px;
  width: 100px;
  height: 24px;
  border: none;
  color: #fff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-left: 15px;
  font-size: 15px;
}
html body header .bottom {
  width: 100%;
  height: 85px;
}
html body header .bottom article .logo {
  width: 150px;
  height: 100%;
  float: left;
}
html body header .bottom article .toplist {
  float: left;
}
html body header .bottom article .toplist li {
  float: left;
  line-height: 80px;
  border-bottom: solid 3px transparent;
  margin: 0px 15px;
  cursor: pointer;
  overflow: hidden;
}
html body header .bottom article .toplist li:hover, html body header .bottom article .toplist li:active {
  border-bottom: solid 5px #cea57f;
}
html body header .bottom article .toplist li:hover p, html body header .bottom article .toplist li:hover span, html body header .bottom article .toplist li:active p, html body header .bottom article .toplist li:active span {
  -webkit-animation: toplist 0.8s ease-out 0s;
          animation: toplist 0.8s ease-out 0s;
}
html body header .bottom article .toplist li.active {
  border-bottom: solid 5px #cea57f;
}
html body header .bottom article .toplist li.firstpage {
  padding: 0px 15px;
}
html body header .bottom article .toplist li p {
  display: inline;
  position: relative;
}
html body header .bottom article .toplist li span {
  display: block;
  width: 23px;
  height: 23px;
  background: url("../images/list_ic.png") no-repeat;
  background-size: 600%;
  float: left;
  margin: 29px 5px 0px 0px;
  position: relative;
}
html body header .bottom article .toplist li span.ic_real {
  background-position-x: 20%;
}
html body header .bottom article .toplist li span.ic_slot {
  background-position-x: 40%;
}
html body header .bottom article .toplist li span.ic_lottery {
  background-position-x: 60%;
}
html body header .bottom article .toplist li span.ic_fish {
  background-position-x: 80%;
}
html body header .bottom article .toplist li span.ic_card {
  background-position-x: 100%;
}
html body header .bottom article .unlogin {
  display: none;
  float: right;
  line-height: 85px;
  color: #878da0;
}
html body header .bottom article .unlogin.display {
  display: block;
}
html body header .bottom article .unlogin span {
  display: block;
  width: 37px;
  height: 37px;
  background: url("../images/charater.png") no-repeat;
  background-size: 100%;
  float: left;
  margin: 23px 10px 0px 0px;
}
html body header .bottom article .loginnow {
  display: none;
  float: right;
  padding-top: 25px;
  width: 205px;
}
html body header .bottom article .loginnow.display {
  display: block;
}
html body header .bottom article .loginnow .sticker {
  display: block;
  width: 37px;
  height: 37px;
  background: url("../images/charater.png") no-repeat;
  background-size: 100%;
  float: left;
  margin: -2px 10px 0px 0px;
  background-position-y: -37px;
  position: relative;
  cursor: pointer;
}
html body header .bottom article .loginnow .sticker.redpoint::before {
  display: block;
}
html body header .bottom article .loginnow .sticker:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
html body header .bottom article .loginnow .sticker::before {
  display: none;
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border: solid 1px #fff;
  border-radius: 5px;
  background: #ff0000;
  right: 0px;
  top: 0px;
}
html body header .bottom article .loginnow .vipmark {
  display: block;
  position: relative;
  width: 10px;
  height: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#e0ba96), to(#b4865d));
  background: linear-gradient(to right, #e0ba96 0%, #b4865d 100%);
  background-color: #b4865d;
  border-radius: 3px;
  float: right;
  margin-top: -17px;
  color: #fff;
  text-align: left;
  font-weight: bold;
  font-size: 12px;
  padding: 2px 5px 0px 34px;
}
html body header .bottom article .loginnow .vipmark::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 9px;
  background: url("../images/vipmark.png") no-repeat;
  top: 4px;
  left: 7px;
}
html body header .bottom article .loginnow button {
  margin-top: 8px;
  font-size: 12px;
  background: transparent;
  position: relative;
}
html body header .bottom article .loginnow button::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 6px;
  background: url("../images/arrow_gray.png") no-repeat;
  right: -20px;
  top: 5px;
}
html body main {
  width: 100%;
  height: auto;
  -webkit-transform: translateY(130px);
          transform: translateY(130px);
}
html body main article .single-item {
  width: 100%;
  height: auto;
  margin-bottom: 0px !important;
}
html body main article .single-item a {
  outline: none;
}
html body main article .single-item .bannerimg {
  width: 100%;
  height: 381px;
  background: url("../images/banner.png") no-repeat;
  background-size: 100%;
}
html body main article .single-item .slick-dots {
  bottom: 15px;
}
html body main article .single-item .slick-dots li {
  margin: 0px 5px;
}
html body main article .single-item .slick-dots li button:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #ababc7;
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
html body main article .single-item .slick-dots li.slick-active button:before {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: #ffc794;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
html body main article .single-item .slick-prev:before, html body main article .single-item .slick-next:before {
  font-family: none;
  content: "";
}
html body main article .single-item .slick-next, html body main article .single-item .slick-prev {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}
html body main article .single-item .slick-next::before, html body main article .single-item .slick-prev::before {
  content: "";
  position: absolute;
  width: 9px;
  height: 17px;
  background: url("../images/arrow_white.png") no-repeat;
  top: 12px;
  left: 17px;
}
html body main article .single-item .slick-next {
  right: 0px;
}
html body main article .single-item .slick-prev {
  left: 0px;
  z-index: 2;
}
html body main article .single-item .slick-prev::before {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  left: 15px;
}
html body main article .single-item .slick-next:hover, html body main article .single-item .slick-prev:hover {
  background: rgba(0, 0, 0, 0.8);
}
html body main article .marqueebox {
  width: 100%;
  height: 40px;
  position: relative;
  background: #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(160, 76, 0, 0.5);
          box-shadow: 0px 0px 8px 0px rgba(160, 76, 0, 0.5);
  border-radius: 15px;
}
html body main article .marqueebox::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 15px;
  background: url("../images/marquee_ic.png") no-repeat;
  top: 13px;
  left: 15px;
}
html body main article .marqueebox marquee {
  width: 1135px;
  height: 100%;
  float: right;
  margin-right: 20px;
  line-height: 40px;
}
html body main article .bg_icbox {
  width: 100%;
  position: relative;
}
html body main article .bg_icbox .bg_ic1 {
  width: 30px;
  height: 30px;
  background: url("../images/bg_icon/goldball2.png") no-repeat;
  background-size: 100%;
  position: absolute;
  top: -400px;
  left: -16.5%;
  -webkit-animation: bg1 3s ease-in 0s infinite;
          animation: bg1 3s ease-in 0s infinite;
}
html body main article .bg_icbox .bg_ic2 {
  width: 46px;
  height: 41px;
  background: url("../images/bg_icon/goldcircle3.png") no-repeat;
  background-size: 100%;
  position: absolute;
  left: -23%;
  top: -263px;
  -webkit-animation: bg4 5s ease-in-out 0s infinite alternate;
          animation: bg4 5s ease-in-out 0s infinite alternate;
}
html body main article .bg_icbox .bg_ic3 {
  width: 72px;
  height: 47px;
  background: url("../images/bg_icon/goldcoin.png") no-repeat;
  background-size: 100%;
  position: absolute;
  left: -12%;
  top: -120px;
  -webkit-animation: bg3 2s ease-in-out 0s infinite alternate;
          animation: bg3 2s ease-in-out 0s infinite alternate;
}
html body main article .bg_icbox .bg_ic4 {
  width: 62px;
  height: 56px;
  background: url("../images/bg_icon/golddice.png") no-repeat;
  background-size: 100%;
  position: absolute;
  left: -24%;
  top: 30px;
  -webkit-animation: bg2 3s linear 0s infinite;
          animation: bg2 3s linear 0s infinite;
}
html body main article .bg_icbox .bg_ic5 {
  width: 35px;
  height: 37px;
  background: url("../images/bg_icon/goldcircle.png") no-repeat;
  background-size: 100%;
  position: absolute;
  left: -9%;
  top: 200px;
  -webkit-animation: bg3 3s ease-in-out 0s infinite alternate;
          animation: bg3 3s ease-in-out 0s infinite alternate;
}
html body main article .bg_icbox .bg_ic6 {
  width: 40px;
  height: 40px;
  background: url("../images/bg_icon/goldball.png") no-repeat;
  background-size: 100%;
  position: absolute;
  left: -23%;
  top: 388px;
}
html body main article .bg_icbox .bg_ic7 {
  width: 46px;
  height: 42px;
  background: url("../images/bg_icon/golddice.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: -11%;
  top: -361px;
  -webkit-transform: rotate(-110deg);
          transform: rotate(-110deg);
  -webkit-animation: bg2 3s linear 0s infinite;
          animation: bg2 3s linear 0s infinite;
}
html body main article .bg_icbox .bg_ic8 {
  width: 20px;
  height: 20px;
  background: url("../images/bg_icon/goldball.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: -18%;
  top: -220px;
  -webkit-animation: bg1 2s ease-in 0s infinite;
          animation: bg1 2s ease-in 0s infinite;
}
html body main article .bg_icbox .bg_ic9 {
  width: 31px;
  height: 33px;
  background: url("../images/bg_icon/goldcircle2.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: -11%;
  top: -85px;
}
html body main article .bg_icbox .bg_ic10 {
  width: 72px;
  height: 47px;
  background: url("../images/bg_icon/goldcoin.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: -24%;
  top: 81px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-animation: bg3 3s ease-in-out 0s infinite alternate;
          animation: bg3 3s ease-in-out 0s infinite alternate;
}
html body main article .bg_icbox .bg_ic11 {
  width: 44px;
  height: 44px;
  background: url("../images/bg_icon/goldball2.png") no-repeat;
  background-size: 100%;
  position: absolute;
  right: -11.5%;
  top: 288px;
  -webkit-animation: bg4 2s ease-in-out 0s infinite alternate;
          animation: bg4 2s ease-in-out 0s infinite alternate;
}
html body main article .mainlist {
  font-size: 0px;
}
html body main article .mainlist .imgbox {
  display: inline-block;
  width: 384px;
  height: 184px;
  position: relative;
  border-radius: 15px;
  margin: 25px 20px 0px 0px;
  -webkit-box-shadow: 0px 0px 8px 0px #1b2c88;
          box-shadow: 0px 0px 8px 0px #1b2c88;
  background: url("../images/main_imgbg.png") no-repeat;
  border: solid 1px #fff;
}
html body main article .mainlist .imgbox:nth-of-type(1) .img {
  width: 205px;
  height: 205px;
  background: url("../images/main_img1.png") no-repeat;
  background-size: 300%;
  position: absolute;
}
html body main article .mainlist .imgbox:nth-of-type(1) .img.ul1 {
  bottom: 0px;
  right: 35px;
  z-index: 3;
}
html body main article .mainlist .imgbox:nth-of-type(1) .img.ul2 {
  bottom: 0px;
  background-position-x: 50%;
  right: -20px;
  z-index: 2;
}
html body main article .mainlist .imgbox:nth-of-type(1) .img.ul3 {
  bottom: 0px;
  background-position-x: 100%;
  right: 115px;
  z-index: 1;
}
html body main article .mainlist .imgbox:nth-of-type(2) {
  background-position-x: 20%;
}
html body main article .mainlist .imgbox:nth-of-type(2) .word {
  background-position-x: 20%;
}
html body main article .mainlist .imgbox:nth-of-type(2) .img {
  width: 205px;
  height: 205px;
  background: url("../images/main_img2.png") no-repeat;
  background-size: 300%;
  position: absolute;
}
html body main article .mainlist .imgbox:nth-of-type(2) .img.um1 {
  bottom: 0px;
  right: 20px;
  z-index: 3;
}
html body main article .mainlist .imgbox:nth-of-type(2) .img.um2 {
  bottom: 0px;
  background-position-x: 100%;
  right: -50px;
  z-index: 2;
}
html body main article .mainlist .imgbox:nth-of-type(2) .img.um3 {
  bottom: 0px;
  background-position-x: 50%;
  right: 115px;
  z-index: 1;
}
html body main article .mainlist .imgbox:nth-of-type(3) {
  background-position-x: 40%;
  margin-right: 0px;
}
html body main article .mainlist .imgbox:nth-of-type(3) .word {
  background-position-x: 40%;
  left: -2%;
}
html body main article .mainlist .imgbox:nth-of-type(3) .img {
  width: 265px;
  height: 215px;
  background: url("../images/main_img3.png") no-repeat;
  background-size: 200%;
  position: absolute;
}
html body main article .mainlist .imgbox:nth-of-type(3) .img.ur1 {
  bottom: -14px;
  right: -20px;
  z-index: 3;
}
html body main article .mainlist .imgbox:nth-of-type(3) .img.ur2 {
  bottom: 7px;
  background-position-x: 100%;
  right: 0px;
  z-index: 2;
}
html body main article .mainlist .imgbox:nth-of-type(4) {
  background-position-x: 60%;
}
html body main article .mainlist .imgbox:nth-of-type(4) .word {
  background-position-x: 60%;
  left: -2%;
}
html body main article .mainlist .imgbox:nth-of-type(4) .img {
  width: 250px;
  height: 190px;
  background: url("../images/main_img4.png") no-repeat;
  background-size: 300%;
  position: absolute;
}
html body main article .mainlist .imgbox:nth-of-type(4) .img.dl1 {
  bottom: 0px;
  right: -5px;
  z-index: 3;
}
html body main article .mainlist .imgbox:nth-of-type(4) .img.dl2 {
  bottom: 45px;
  background-position-x: 50%;
  right: 45px;
  z-index: 2;
}
html body main article .mainlist .imgbox:nth-of-type(4) .img.dl3 {
  bottom: 45px;
  background-position-x: 100%;
  right: -50px;
  z-index: 1;
}
html body main article .mainlist .imgbox:nth-of-type(5) {
  background-position-x: 80%;
}
html body main article .mainlist .imgbox:nth-of-type(5) .word {
  background-position-x: 80%;
  left: -2%;
}
html body main article .mainlist .imgbox:nth-of-type(5) .img {
  width: 250px;
  height: 200px;
  background: url("../images/main_img5.png") no-repeat;
  background-size: 400%;
  position: absolute;
}
html body main article .mainlist .imgbox:nth-of-type(5) .img.dm1 {
  bottom: 0px;
  right: -10px;
  z-index: 3;
}
html body main article .mainlist .imgbox:nth-of-type(5) .img.dm2 {
  bottom: 57px;
  background-position-x: -250px;
  right: 83px;
  z-index: 2;
}
html body main article .mainlist .imgbox:nth-of-type(5) .img.dm3 {
  bottom: -70px;
  background-position-x: -500px;
  right: 93px;
  z-index: 4;
}
html body main article .mainlist .imgbox:nth-of-type(5) .img.dm4 {
  bottom: 43px;
  background-position-x: -750px;
  right: -95px;
  z-index: 1;
}
html body main article .mainlist .imgbox:nth-of-type(6) {
  background-position-x: 100%;
  margin-right: 0px;
}
html body main article .mainlist .imgbox:nth-of-type(6) .word {
  background-position-x: 100%;
}
html body main article .mainlist .imgbox:nth-of-type(6) .img {
  width: 298px;
  height: 187px;
  background: url("../images/main_img6.png") no-repeat;
  background-size: 100%;
  position: absolute;
}
html body main article .mainlist .imgbox:nth-of-type(6) .img.dr1 {
  bottom: 15px;
  right: -20px;
  z-index: 3;
}
html body main article .mainlist .imgbox.hover {
  -webkit-animation: img_overflow 0.6s linear 0s;
          animation: img_overflow 0.6s linear 0s;
}
html body main article .mainlist .imgbox.hover .word {
  z-index: 12;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  top: 0%;
  -webkit-animation: img_word 0.3s ease-out 0s;
          animation: img_word 0.3s ease-out 0s;
}
html body main article .mainlist .imgbox.hover .board {
  display: block;
  -webkit-animation: img_button 0.3s ease-out 0s;
          animation: img_button 0.3s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(1) .img.ul1 {
  -webkit-animation: img_ul1 0.5s ease-out 0s;
          animation: img_ul1 0.5s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(1) .img.ul2 {
  -webkit-animation: img_ul2 0.5s ease-out 0s;
          animation: img_ul2 0.5s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(1) .img.ul3 {
  -webkit-animation: img_ul3 0.65s ease-out 0s;
          animation: img_ul3 0.65s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(2) .img {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
html body main article .mainlist .imgbox.hover:nth-of-type(2) .img.um1 {
  -webkit-animation: img_um1 0.4s ease-out 0s;
          animation: img_um1 0.4s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(2) .img.um2 {
  -webkit-animation: img_um1 0.4s ease-out 0s, img_um2 0.3s linear 0.4s;
          animation: img_um1 0.4s ease-out 0s, img_um2 0.3s linear 0.4s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(2) .img.um3 {
  -webkit-animation: img_um1 0.4s ease-out 0s, img_um3 0.5s linear 0.5s;
          animation: img_um1 0.4s ease-out 0s, img_um3 0.5s linear 0.5s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(3) .img.ur1 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 11;
  -webkit-animation: img_ur1 0.7s ease-out 0s;
          animation: img_ur1 0.7s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(3) .img.ur2 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: img_ur2 0.8s ease-out 0s infinite;
          animation: img_ur2 0.8s ease-out 0s infinite;
}
html body main article .mainlist .imgbox.hover:nth-of-type(4) .img.dl1 {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  z-index: 11;
  -webkit-animation: img_ur1 0.7s ease-out 0s;
          animation: img_ur1 0.7s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(4) .img.dl2 {
  -webkit-transform: rotate(30deg) translateY(-10%) translateX(10%);
          transform: rotate(30deg) translateY(-10%) translateX(10%);
  -webkit-animation: img_dl1 0.7s ease-out 0s, img_dl3 0.7s ease-in-out 0.4s infinite alternate;
          animation: img_dl1 0.7s ease-out 0s, img_dl3 0.7s ease-in-out 0.4s infinite alternate;
}
html body main article .mainlist .imgbox.hover:nth-of-type(4) .img.dl3 {
  -webkit-transform: rotate(30deg) translateY(10%) translateX(10%);
          transform: rotate(30deg) translateY(10%) translateX(10%);
  -webkit-animation: img_dl2 0.7s ease-out 0s, img_dl4 0.8s ease-in-out 0.4s infinite alternate;
          animation: img_dl2 0.7s ease-out 0s, img_dl4 0.8s ease-in-out 0.4s infinite alternate;
}
html body main article .mainlist .imgbox.hover:nth-of-type(5) .img.dm1 {
  -webkit-animation: img_dm1 0.4s ease-out 0s;
          animation: img_dm1 0.4s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(5) .img.dm2 {
  -webkit-animation: img_dm2 0.6s ease-out 0s;
          animation: img_dm2 0.6s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(5) .img.dm3 {
  z-index: 11;
  -webkit-animation: img_dm3 0.5s ease-out 0s;
          animation: img_dm3 0.5s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(5) .img.dm4 {
  -webkit-animation: img_dm4 0.4s ease-out 0s;
          animation: img_dm4 0.4s ease-out 0s;
}
html body main article .mainlist .imgbox.hover:nth-of-type(6) .img.dr1 {
  z-index: 11;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-animation: img_ur1 0.7s ease-out 0s;
          animation: img_ur1 0.7s ease-out 0s;
}
html body main article .mainlist .imgbox .word {
  width: 165px;
  height: 80px;
  background: url("../images/main_imgword.png") no-repeat;
  position: absolute;
  top: 50%;
  left: 2%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
}
html body main article .mainlist .imgbox .board {
  display: none;
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0px;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6588235294);
  border-radius: 0px 0px 15px 15px;
  -webkit-clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);
  pointer-events: none;
  /*for IE*/
  /*for IE 9*/
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html body main article .mainlist .imgbox .board {
    background: transparent;
  }
}
@media all and (min-width: 0\0 ) and (-webkit-min-device-pixel-ratio: 0), all and (min-width: 0\0 ) and (min-resolution: 0.001dpcm) {
  html body main article .mainlist .imgbox .board {
    background: transparent;
  }
}
html body main article .mainlist .imgbox .board span {
  display: block;
  width: 100px;
  height: 50px;
  color: #fff;
  position: absolute;
  top: 35%;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  border: solid 3px #fff;
  left: 3.5%;
  font-size: 18px;
  font-weight: bold;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff5a00), to(#ffa200));
  background: linear-gradient(to top, #ff5a00 0%, #ffa200 100%);
  background-color: #ff5a00;
}
html body main article .mainlist .imgbox a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
  z-index: 15;
}
html body footer {
  width: 100%;
  height: 130px;
  -webkit-transform: translateY(130px);
          transform: translateY(130px);
  margin-top: 70px;
}
html body footer .top {
  width: 100%;
  height: 40px;
  background: #c79a6f;
}
html body footer .top article .bottomlist {
  float: left;
}
html body footer .top article .bottomlist li {
  float: left;
  line-height: 40px;
  overflow: hidden;
}
html body footer .top article .bottomlist li a {
  font-size: 15px;
  height: 100%;
  padding: 15px;
  color: #fff;
}
html body footer .top article .bottomlist li a:hover, html body footer .top article .bottomlist li a:active, html body footer .top article .bottomlist li a.active {
  background: #2f333d;
}
html body footer .top article p {
  float: right;
  line-height: 40px;
  color: #fff;
  font-size: 15px;
}
html body footer .bottom {
  width: 100%;
  height: 90px;
  background: #2f333d;
  text-align: center;
}
html body footer .bottom p {
  font-size: 14px;
  padding-top: 17px;
  color: #b4bac8;
  line-height: 30px;
}
html body .fixside button {
  position: fixed;
  width: 0px;
  padding: 0px 40px 0px 26px;
  font-size: 16px;
  top: 215px;
  height: 160px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fcffff), color-stop(48%, #d1dbf1), to(#ffffff));
  background: linear-gradient(to top, #fcffff 0%, #d1dbf1 48%, #ffffff 100%);
  background-color: #d1dbf1;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(27, 44, 136, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(27, 44, 136, 0.5);
}
html body .fixside button:hover, html body .fixside button:active, html body .fixside button.active {
  color: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#efd2b0), color-stop(32%, #b89470), color-stop(63%, #c8af91), to(#f8dbbc));
  background: linear-gradient(to top, #efd2b0 0%, #b89470 32%, #c8af91 63%, #f8dbbc 100%);
  background-color: #b89470;
}
html body .fixside button:hover span, html body .fixside button:active span, html body .fixside button.active span {
  background-position-y: 100%;
}
html body .fixside button:last-child {
  top: 395px;
}
html body .fixside button span {
  display: block;
  width: 30px;
  height: 30px;
  background: url("../images/fixside_ic.png") no-repeat;
  background-size: 400%;
  margin: 0px 0px 6px -7px;
  /*for IE*/
  /*for IE 9*/
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html body .fixside button span {
    margin-bottom: 15px;
  }
}
@media all and (min-width: 0\0 ) and (-webkit-min-device-pixel-ratio: 0), all and (min-width: 0\0 ) and (min-resolution: 0.001dpcm) {
  html body .fixside button span {
    margin-bottom: 15px;
  }
}
html body .fixside .left button {
  left: 0px;
  border-radius: 0px 15px 15px 0px;
}
html body .fixside .left button:last-child span {
  background-position-x: -30px;
}
html body .fixside .left .QR {
  display: none;
  position: fixed;
  width: 140px;
  height: 160px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(27, 44, 136, 0.5);
          box-shadow: 0px 0px 10px 0px rgba(27, 44, 136, 0.5);
  top: 395px;
  left: 90px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #af8259;
}
html body .fixside .left .QR.display {
  display: block;
}
html body .fixside .left .QR::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
  border-width: 10px;
  top: 65px;
  left: -20px;
}
html body .fixside .left .QR span {
  display: block;
  width: 106px;
  height: 106px;
  background: url("../images/QRcode.png") no-repeat;
  margin: 15px auto;
}
html body .fixside .right button {
  right: 0px;
  border-radius: 15px 0px 0px 15px;
}
html body .fixside .right button span {
  background-position-x: -60px;
}
html body .fixside .right button:last-child span {
  background-position-x: -90px;
}
html body .fixside .gotop {
  display: none;
  height: 56px;
  right: 0px;
  border-radius: 15px 0px 0px 15px;
}
html body .fixside .gotop:hover, html body .fixside .gotop:active, html body .fixside .gotop.active {
  background: -webkit-gradient(linear, left bottom, left top, from(#fcffff), color-stop(48%, #d1dbf1), to(#ffffff));
  background: linear-gradient(to top, #fcffff 0%, #d1dbf1 48%, #ffffff 100%);
  background-color: #d1dbf1;
}
html body .fixside .gotop:last-child {
  top: 800px;
}
html body .fixside .gotop span {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-image: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#e0ba96), to(#b4865d));
  background: linear-gradient(to bottom, #e0ba96 0%, #b4865d 100%);
  background-color: #b4865d;
  margin: 0px 0px 0px -9px;
  position: relative;
}
html body .fixside .gotop span:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 17px;
  top: 9px;
  left: 10px;
  background: url("../images/arrow_silver.png") no-repeat;
}
html body .bg {
  width: 100%;
  min-width: 1280px;
  height: 1150px;
  background: url("../images/bg.jpg") no-repeat top center;
  position: absolute;
  top: 0px;
  z-index: -999;
}

@-webkit-keyframes toplist {
  0% {
    top: 0px;
  }
  30% {
    top: 55px;
  }
  31% {
    opacity: 0;
    top: -55px;
  }
  36% {
    opacity: 1;
  }
  41% {
    top: -15px;
  }
  81% {
    top: 0px;
  }
}

@keyframes toplist {
  0% {
    top: 0px;
  }
  30% {
    top: 55px;
  }
  31% {
    opacity: 0;
    top: -55px;
  }
  36% {
    opacity: 1;
  }
  41% {
    top: -15px;
  }
  81% {
    top: 0px;
  }
}
@-webkit-keyframes img_overflow {
  0% {
    overflow: hidden;
  }
}
@keyframes img_overflow {
  0% {
    overflow: hidden;
  }
}
@-webkit-keyframes img_ul1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateY(100%) translateX(-50%);
            transform: scale(0) translateY(100%) translateX(-50%);
  }
}
@keyframes img_ul1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateY(100%) translateX(-50%);
            transform: scale(0) translateY(100%) translateX(-50%);
  }
}
@-webkit-keyframes img_ul2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@keyframes img_ul2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@-webkit-keyframes img_ul3 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@keyframes img_ul3 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  50% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@-webkit-keyframes img_um1 {
  0% {
    -webkit-transform: rotate(90deg) translateX(50%) translateY(-50%);
            transform: rotate(90deg) translateX(50%) translateY(-50%);
  }
}
@keyframes img_um1 {
  0% {
    -webkit-transform: rotate(90deg) translateX(50%) translateY(-50%);
            transform: rotate(90deg) translateX(50%) translateY(-50%);
  }
}
@-webkit-keyframes img_um2 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes img_um2 {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@-webkit-keyframes img_um3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-10deg) translateY(-10%);
            transform: rotate(-10deg) translateY(-10%);
  }
  75% {
    -webkit-transform: rotate(5deg) translateY(-10%);
            transform: rotate(5deg) translateY(-10%);
  }
}
@keyframes img_um3 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-10deg) translateY(-10%);
            transform: rotate(-10deg) translateY(-10%);
  }
  75% {
    -webkit-transform: rotate(5deg) translateY(-10%);
            transform: rotate(5deg) translateY(-10%);
  }
}
@-webkit-keyframes img_ur1 {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  30% {
    -webkit-transform: rotate(30deg) scale(0.8);
            transform: rotate(30deg) scale(0.8);
  }
  60% {
    -webkit-transform: rotate(30deg) scale(1.1);
            transform: rotate(30deg) scale(1.1);
  }
}
@keyframes img_ur1 {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  30% {
    -webkit-transform: rotate(30deg) scale(0.8);
            transform: rotate(30deg) scale(0.8);
  }
  60% {
    -webkit-transform: rotate(30deg) scale(1.1);
            transform: rotate(30deg) scale(1.1);
  }
}
@-webkit-keyframes img_ur2 {
  0% {
    -webkit-transform: rotate(30deg) scale(0.4);
            transform: rotate(30deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotate(30deg) scale(1.2);
            transform: rotate(30deg) scale(1.2);
  }
}
@keyframes img_ur2 {
  0% {
    -webkit-transform: rotate(30deg) scale(0.4);
            transform: rotate(30deg) scale(0.4);
  }
  100% {
    -webkit-transform: rotate(30deg) scale(1.2);
            transform: rotate(30deg) scale(1.2);
  }
}
@-webkit-keyframes img_dl1 {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  30% {
    -webkit-transform: rotate(30deg) scale(0.8) translateX(10%) translateY(-10%);
            transform: rotate(30deg) scale(0.8) translateX(10%) translateY(-10%);
  }
  60% {
    -webkit-transform: rotate(30deg) scale(1.1) translateX(10%) translateY(-10%);
            transform: rotate(30deg) scale(1.1) translateX(10%) translateY(-10%);
  }
}
@keyframes img_dl1 {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  30% {
    -webkit-transform: rotate(30deg) scale(0.8) translateX(10%) translateY(-10%);
            transform: rotate(30deg) scale(0.8) translateX(10%) translateY(-10%);
  }
  60% {
    -webkit-transform: rotate(30deg) scale(1.1) translateX(10%) translateY(-10%);
            transform: rotate(30deg) scale(1.1) translateX(10%) translateY(-10%);
  }
}
@-webkit-keyframes img_dl2 {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  30% {
    -webkit-transform: rotate(30deg) scale(0.8) translateX(10%) translateY(10%);
            transform: rotate(30deg) scale(0.8) translateX(10%) translateY(10%);
  }
  60% {
    -webkit-transform: rotate(30deg) scale(1.1) translateX(10%) translateY(10%);
            transform: rotate(30deg) scale(1.1) translateX(10%) translateY(10%);
  }
}
@keyframes img_dl2 {
  0% {
    -webkit-transform: rotate(0) scale(1);
            transform: rotate(0) scale(1);
  }
  30% {
    -webkit-transform: rotate(30deg) scale(0.8) translateX(10%) translateY(10%);
            transform: rotate(30deg) scale(0.8) translateX(10%) translateY(10%);
  }
  60% {
    -webkit-transform: rotate(30deg) scale(1.1) translateX(10%) translateY(10%);
            transform: rotate(30deg) scale(1.1) translateX(10%) translateY(10%);
  }
}
@-webkit-keyframes img_dl3 {
  0% {
    -webkit-transform: rotate(30deg) translateX(10%) translateY(-10%);
            transform: rotate(30deg) translateX(10%) translateY(-10%);
  }
  100% {
    -webkit-transform: rotate(45deg) translateX(10%) translateY(-10%);
            transform: rotate(45deg) translateX(10%) translateY(-10%);
  }
}
@keyframes img_dl3 {
  0% {
    -webkit-transform: rotate(30deg) translateX(10%) translateY(-10%);
            transform: rotate(30deg) translateX(10%) translateY(-10%);
  }
  100% {
    -webkit-transform: rotate(45deg) translateX(10%) translateY(-10%);
            transform: rotate(45deg) translateX(10%) translateY(-10%);
  }
}
@-webkit-keyframes img_dl4 {
  0% {
    -webkit-transform: rotate(30deg) translateX(10%) translateY(10%);
            transform: rotate(30deg) translateX(10%) translateY(10%);
  }
  100% {
    -webkit-transform: rotate(45deg) translateX(10%) translateY(10%);
            transform: rotate(45deg) translateX(10%) translateY(10%);
  }
}
@keyframes img_dl4 {
  0% {
    -webkit-transform: rotate(30deg) translateX(10%) translateY(10%);
            transform: rotate(30deg) translateX(10%) translateY(10%);
  }
  100% {
    -webkit-transform: rotate(45deg) translateX(10%) translateY(10%);
            transform: rotate(45deg) translateX(10%) translateY(10%);
  }
}
@-webkit-keyframes img_dm1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
@keyframes img_dm1 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}
@-webkit-keyframes img_dm2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@keyframes img_dm2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  75% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@-webkit-keyframes img_dm3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateY(20%) translateX(20%);
            transform: scale(0) translateY(20%) translateX(20%);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translateY(20%) translateX(20%);
            transform: scale(0) translateY(20%) translateX(20%);
  }
}
@keyframes img_dm3 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) translateY(20%) translateX(20%);
            transform: scale(0) translateY(20%) translateX(20%);
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(0) translateY(20%) translateX(20%);
            transform: scale(0) translateY(20%) translateX(20%);
  }
}
@-webkit-keyframes img_dm4 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
  }
}
@keyframes img_dm4 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(50%);
            transform: translateX(-50%) translateY(50%);
  }
}
@-webkit-keyframes bg1 {
  0% {
    opacity: 0;
    top: 0px;
  }
  30% {
    opacity: 1;
  }
  100% {
    top: -500px;
  }
}
@keyframes bg1 {
  0% {
    opacity: 0;
    top: 0px;
  }
  30% {
    opacity: 1;
  }
  100% {
    top: -500px;
  }
}
@-webkit-keyframes bg2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes bg2 {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes bg3 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}
@keyframes bg3 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
}
@-webkit-keyframes bg4 {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%) translateY(200%);
            transform: translateX(100%) translateY(200%);
  }
}
@keyframes bg4 {
  0% {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateX(100%) translateY(200%);
            transform: translateX(100%) translateY(200%);
  }
}
@-webkit-keyframes img_word {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    top: 0%;
  }
}
@keyframes img_word {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 50%;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    top: 0%;
  }
}
@-webkit-keyframes img_button {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
@keyframes img_button {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}