.swiper {
    width: 100%;
    min-width:1400px;
    .swiper-wrapper {
       width: 100%;
       height: auto;
       max-height: 500px;

        .swiper-slide {
            width: 100%;
            height: auto;
        }
    }
    
    .swiper-button-prev,
    .swiper-button-next {
        width: 285px;
        height: 100%;
        position: absolute;
        top: 0;
        margin: 0;

        &:hover,&:active,&.active {

            i {
                opacity: 1;
            }
        }

        &::before,
        &::after {
            content: "";
        }

        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            opacity: 0.5;
        }
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }
}