.eventWrap {
    width: 100%;
    height: auto;
    padding: 130px 0;

    .eventTitle {
        width: 100%;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .eventBody {
        width: 1400px;
        height: auto;
        display: flex;
        justify-content: space-between;
        margin: 30px auto 0;
        padding: 0 0 50px;

        .sideNav {
            width: 360px;
            height: auto;
            flex-shrink: 0;
            margin-right: 15px;

            ul {
                width: 100%;
                height: 100%;

                li {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    padding: 0 25px;
                    position: relative;
                    cursor: pointer;

                    &:before {
                        content: "";
                        width: 4px;
                        height: 100%;
                        background: transparent;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }

                    i {
                        margin-right: 30px;
                    }
                }
            }
        }

        .eventList {
            width: 1025px;
            height: auto;
            flex-shrink: 0;

            .eventBox {
                width: 100%;
                height: 310px;
                margin-bottom: 15px;
                overflow: hidden;
                
                &:last-child {
                    margin-bottom: 0;
                }

                img {
                    width: 100%;
                    height: 250px;
                    object-fit: cover;
                }

                ul {
                    width: 100%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 25px;

                    li {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        

                        &.title {
                            max-width: 72%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        &.btnBox {
                            width: 28%;
                            justify-content: flex-end;
                            flex-shrink: 0;

                            button {

                                &:last-child {
                                    margin-left: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}