//footer
footer {
    width: 100%;
    min-width: 1000px;
    height: 130px;
    position: absolute;
    bottom: 0;
    // transform: translateY(130px);

    //上部
    .top {
        width: 100%;
        height: 40px;
        background: #c79a6f;

        //置中外包
        article {
            //下選單
            .bottomlist {
                float: left;

                li {
                    float: left;
                    line-height: 40px;
                    overflow: hidden;

                    a {
                        font-size: 15px;
                        height: 100%;
                        padding: 15px;
                        color: #fff;

                        &:hover,&:active,&.active {
                            background: #2f333d;
                        }
                    }
                }
            }
            p {
                float: right;
                line-height: 40px;
                color: #fff;
                font-size: 15px;
            }
        }
    }
    .bottom {
        width: 100%;
        height: 90px;
        background: #2f333d;
        text-align: center;
        p {
            font-size: 14px;
            padding-top: 17px;
            color: #b4bac8;
            line-height: 30px;
        }
    }
}