html {
    width: 100%;
    height: 100%;
    min-width: 1280px;
    body {
        width: 100%;
        min-width: 1903px;
        height: 100%;
        overflow: overlay;
        position: relative;
        
        @import "./header";
        @import "./home";
        @import "./footer";
        @import "./aside";
        @import "./banner";
        @import "./event";
        @import "./gamePage";
        @import "./help";
        @import "./jumpWindow";
        @import "./mainWrap";
        @import "./register";
        @import "./innerPage";

        //置中外包
        article {
            width: 1200px;
            height: 100%;
            margin: 0px auto;
        }
        //header
        header {
            position: fixed;
            width: 100%;
            min-width: 1280px;
            height: 130px;
            box-shadow: 0px 0px 5px 0px rgba(27,44,136,.3);
            background: #fff;
            z-index: 10;
            //上半
            .top {
                width: 100%;
                height: 45px;
                background: #2f333d;
                //置中外包
                article {
                    //時間
                    .time {
                        font-weight: bold;
                        color: #b4bac8;
                        font-size: 12px;
                        line-height: 45px;
                    }
                    ul {
                        float: right;
                        li {
                            float: left;
                            line-height: 45px;
                            &.account {
                                &.turn {
                                    .loginbtn,.signupbtn {
                                        display: none;
                                    }
                                    .logoutbtn {
                                        display: inline-block;
                                    }
                                }
                                .logoutbtn {
                                    display: none;
                                }
                            }
                            //忘記密碼
                            .forget {
                                color: #b4bac8;
                                font-size: 14px;
                                font-weight: bold;
                            }
                            //帳號密碼
                            .inputbox {
                                float: left;
                                margin: 0px 3px;
                                position: relative;
                                &::before {
                                    content: "";
                                    position: absolute;
                                    width: 11px;
                                    height: 11px;
                                    background-size: 200%;
                                    background: url('../images/account_ic.png') no-repeat;
                                    top: 18px;
                                    left: 11px;
                                }
                                &:first-child {
                                    margin-left: 20px;
                                }
                                &:last-child {
                                    margin-right: 20px;
                                    &::before {
                                        background-position-x: -11px;
                                    }
                                }
                                input {
                                    width: 140px;
                                    height: 24px;
                                    border: none;
                                    font-size: 15px;
                                    padding-left: 30px;
                                    border-radius: 5px;
                                    color: #dddeec;
                                    background: #747a87;
                                }
                            }
                            //按鈕
                            .topbtn {
                                width: 100px;
                                height: 24px;
                                border: none;
                                background: linear-gradient(to top, #ff5a00 0%, #ffa200 100%);
                                background-color: #ff5a00;
                                border-radius: 5px;
                                margin-right: 3px;
                                color: #fff;
                                font-size: 15px;
                                padding-bottom: 1px;
                                /*for IE*/
                                @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                    line-height: 0px;
                                }
                                /*for IE 9*/
                                @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                    line-height: 0px;
                                }
                                &:hover,&:active,&.active {
                                    background: linear-gradient(to top, #ffbe00 0%, #ff5600 100%);
                                    background-color: #ffa200;
                                    box-shadow: 0px 0px 2px 0px #000 inset;
                                }
                                &.signupbtn,&.logoutbtn {
                                    margin-right: 0px;
                                    background: linear-gradient(to top, #ff3600 0%, #ff6c00 100%);
                                    background-color: #ff6c00;
                                    &:hover,&:active,&.active {
                                        background: linear-gradient(to bottom, #a72300 0%, #d05000 100%);
                                        background-color: #ff3600;
                                    }
                                }
                            }
                            //語言列
                            .langbox {
                                margin: -1px 0px 0px 20px;
                                position: relative;
                                transform: translateY(2px);
                                /*for IE*/
                                @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                    &::before {
                                        display: none;
                                    }
                                }
                                /*for IE 9*/
                                @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                    &::before {
                                        display: none;
                                    }
                                }
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: 22px;
                                    right: 8px;
                                    width: 0px;
                                    height: 0px;
                                    border-style: solid;
                                    border-width: 5px;
                                    border-color: #fff transparent transparent transparent;
                                }
                                select {
                                    background: #000;
                                    border-radius: 5px;
                                    width: 100px;
                                    height: 24px;
                                    border: none;
                                    color: #fff;
                                    appearance:none;
                                    -moz-appearance:none;
                                    -webkit-appearance:none;
                                    padding-left: 15px;
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
            //下半
            .bottom {
                width: 100%;
                height: 85px;
                //置中外包
                article {
                    //LOGO
                    .logo {
                        width: 150px;
                        height: 100%;
                        float: left;
                    }
                    //選單
                    .toplist {
                        float: left;
                        li {
                            float: left;
                            line-height: 80px;
                            border-bottom: solid 3px transparent;
                            margin: 0px 15px;
                            cursor: pointer;
                            overflow: hidden;
                            &:hover,&:active {
                                border-bottom: solid 5px #cea57f;
                                p,span {
                                    animation: toplist 0.8s ease-out 0s;
                                }
                            }
                            &.active {
                                border-bottom: solid 5px #cea57f;
                            }
                            &.firstpage {
                                padding: 0px 15px;
                            }
                            p {
                                display: inline;
                                position: relative;
                            }
                            span {
                                display: block;
                                width: 23px;
                                height: 23px;
                                background: url('../images/list_ic.png') no-repeat;
                                background-size: 600%;
                                float: left;
                                margin: 29px 5px 0px 0px;
                                position: relative;
                                &.ic_real {
                                    background-position-x: 20%;
                                }
                                &.ic_slot {
                                    background-position-x: 40%;
                                }
                                &.ic_lottery {
                                    background-position-x: 60%;
                                }
                                &.ic_fish {
                                    background-position-x: 80%;
                                }
                                &.ic_card {
                                    background-position-x: 100%;
                                }
                            }
                        }
                    }
                    //未登入樣式
                    .unlogin {
                        display: none;
                        float: right;
                        line-height: 85px;
                        color: #878da0;
                        &.display {
                            display: block;
                        }
                        span {
                            display: block;
                            width: 37px;
                            height: 37px;
                            background: url('../images/charater.png') no-repeat;
                            background-size: 100%;
                            float: left;
                            margin: 23px 10px 0px 0px;
                        }
                    }
                    //已登入樣式
                    .loginnow {
                        display: none;
                        float: right;
                        padding-top: 25px;
                        width: 205px;
                        &.display {
                            display: block;
                        }
                        .sticker {
                            display: block;
                            width: 37px;
                            height: 37px;
                            background: url('../images/charater.png') no-repeat;
                            background-size: 100%;
                            float: left;
                            margin: -2px 10px 0px 0px;
                            background-position-y: -37px;
                            position: relative;
                            cursor: pointer;
                            &.redpoint {
                                &::before {
                                    display: block ;
                                }
                            }
                            &:active {
                                transform: scale(0.9);
                            }
                            &::before {
                                display: none;
                                content: "";
                                position: absolute;
                                width: 7px;
                                height: 7px;
                                border: solid 1px #fff;
                                border-radius: 5px;
                                background: #ff0000;
                                right: 0px;
                                top: 0px;
                            }
                        }
                        .vipmark {
                            display: block;
                            position: relative;
                            width: 10px;
                            height: 16px;
                            background: linear-gradient(to right, #e0ba96 0%, #b4865d 100%);
                            background-color: #b4865d;
                            border-radius: 3px;
                            float: right;
                            margin-top: -17px;
                            color: #fff;
                            text-align: left;
                            font-weight: bold;
                            font-size: 12px;
                            padding: 2px 5px 0px 34px;
                            &::before {
                                content: "";
                                position: absolute;
                                width: 23px;
                                height: 9px;
                                background: url('../images/vipmark.png') no-repeat;
                                top: 4px;
                                left: 7px;
                            }
                        }
                        button {
                            margin-top: 8px;
                            font-size: 12px;
                            background: transparent;
                            position: relative;
                            &::before {
                                content: "";
                                position: absolute;
                                width: 9px;
                                height: 6px;
                                background: url('../images/arrow_gray.png') no-repeat;
                                right: -20px;
                                top: 5px;
                            }
                        }
                    }
                }
            }
        }
        //main
        main {
            width: 100%;
            height: auto;
            transform: translateY(130px);

            //跑馬燈
            .marqueebox {
                width: 100%;
                height: 40px;
                position: relative;
                background: #fff;
                box-shadow: 0px 0px 8px 0px rgba(160,76,0,.5);
                border-radius: 15px;
                &::before {
                    content: "";
                    position: absolute;
                    width: 18px;
                    height: 15px;
                    background: url('../images/marquee_ic.png') no-repeat;
                    top: 13px;
                    left: 15px;
                }
                marquee {
                    width: 1135px;
                    height: 100%;
                    float: right;
                    margin-right: 20px;
                    line-height: 40px;
                }
            }
            //置中外包
            article {
                //banner
                .single-item {
                    width: 100%;
                    height: auto;
                    margin-bottom: 0px !important;
                    a {
                        outline: none;
                    }
                    //圖
                    .bannerimg {
                        width: 100%;
                        height: 381px;
                        background: url('../images/banner.png') no-repeat;
                        background-size: 100%;
                    }
                    //點點位置
                    .slick-dots{
                        bottom: 15px;
                    }
                    //點點間隔
                    .slick-dots li {
                        margin: 0px 5px;
                    }
                    //點點被動呈現效果
                    .slick-dots li button:before {
                        content: "";
                        width: 10px;
                        height: 10px;
                        background: #ababc7;
                        opacity: 1;
                        transform: rotate(45deg);
                    }
                    //點點觸發時效果
                    .slick-dots li.slick-active button:before {
                        width: 10px;//圖源大小/無圖則與被動時一樣大小
                        height: 10px;
                        opacity: 1;
                        // left: -12.5px;//移動位置=(觸發時-被動時)/2
                        // top: -12.5px;
                        background: #ffc794;
                        transform: rotate(45deg);
                    }
                    .slick-prev:before,.slick-next:before{
                        //箭頭預設圖像取消
                        font-family: none;
                        content: "";
                    }
                    .slick-next,.slick-prev{
                        //箭頭客製大小
                        width: 40px;
                        height: 40px;
                        background: rgba(0,0,0,.5);
                        border-radius: 25px;
                        &::before {
                            content: "";
                            position: absolute;
                            width: 9px;
                            height: 17px;
                            background: url('../images/arrow_white.png') no-repeat;
                            top: 12px;
                            left: 17px;
                        }
                    }
                    .slick-next{
                        //箭頭定位右側
                        right: 0px;
                    }
                    .slick-prev{
                        //箭頭定位左側
                        left: 0px;
                        z-index: 2;
                        &::before {
                            transform: scaleX(-1);
                            left: 15px;
                        }
                    }
                    .slick-next:hover,.slick-prev:hover{
                        //箭頭hover效果
                        background: rgba(0,0,0,.8);
                    }
                }

                //背景漂浮物
                .bg_icbox {
                    width: 100%;
                    position: relative;
                    .bg_ic1 {
                        width: 30px;
                        height: 30px;
                        background: url('../images/bg_icon/goldball2.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        top: -400px;
                        left: -16.5%;
                        animation: bg1 3s ease-in 0s infinite;
                    }
                    .bg_ic2 {
                        width: 46px;
                        height: 41px;
                        background: url('../images/bg_icon/goldcircle3.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        left: -23%;
                        top: -263px;
                        animation: bg4 5s ease-in-out 0s infinite alternate;
                    }
                    .bg_ic3 {
                        width: 72px;
                        height: 47px;
                        background: url('../images/bg_icon/goldcoin.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        left: -12%;
                        top: -120px;
                        animation: bg3 2s ease-in-out 0s infinite alternate;
                    }
                    .bg_ic4 {
                        width: 62px;
                        height: 56px;
                        background: url('../images/bg_icon/golddice.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        left: -24%;
                        top: 30px;
                        animation: bg2 3s linear 0s infinite;
                    }
                    .bg_ic5 {
                        width: 35px;
                        height: 37px;
                        background: url('../images/bg_icon/goldcircle.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        left: -9%;
                        top: 200px;
                        animation: bg3 3s ease-in-out 0s infinite alternate;
                    }
                    .bg_ic6 {
                        width: 40px;
                        height: 40px;
                        background: url('../images/bg_icon/goldball.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        left: -23%;
                        top: 388px;
                    }
                    .bg_ic7 {
                        width: 46px;
                        height: 42px;
                        background: url('../images/bg_icon/golddice.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        right: -11%;
                        top: -361px;
                        transform: rotate(-110deg);
                        animation: bg2 3s linear 0s infinite;
                    }
                    .bg_ic8 {
                        width: 20px;
                        height: 20px;
                        background: url('../images/bg_icon/goldball.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        right: -18%;
                        top: -220px;
                        animation: bg1 2s ease-in 0s infinite;
                    }
                    .bg_ic9 {
                        width: 31px;
                        height: 33px;
                        background: url('../images/bg_icon/goldcircle2.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        right: -11%;
                        top: -85px;
                    }
                    .bg_ic10 {
                        width: 72px;
                        height: 47px;
                        background: url('../images/bg_icon/goldcoin.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        right: -24%;
                        top: 81px;
                        transform: rotate(25deg);
                        animation: bg3 3s ease-in-out 0s infinite alternate;
                    }
                    .bg_ic11 {
                        width: 44px;
                        height: 44px;
                        background: url('../images/bg_icon/goldball2.png') no-repeat;
                        background-size: 100%;
                        position: absolute;
                        right: -11.5%;
                        top: 288px;
                        animation: bg4 2s ease-in-out 0s infinite alternate;
                    }
                }
                //主選單
                .mainlist {
                    font-size: 0px;
                    .imgbox {
                        display: inline-block;
                        width: 384px;
                        height: 184px;
                        position: relative;
                        border-radius: 15px;
                        margin: 25px 20px 0px 0px;
                        box-shadow: 0px 0px 8px 0px #1b2c88;
                        background: url('../images/main_imgbg.png') no-repeat;
                        border: solid 1px #fff;
                        //體育賽事
                        &:nth-of-type(1) {
                            .img {
                                width: 205px;
                                height: 205px;
                                background: url('../images/main_img1.png') no-repeat;
                                background-size: 300%;
                                position: absolute;
                                &.ul1 {
                                    bottom: 0px;
                                    right: 35px;
                                    z-index: 3;
                                }
                                &.ul2 {
                                    bottom: 0px;
                                    background-position-x: 50%;
                                    right: -20px;
                                    z-index: 2;
                                }
                                &.ul3 {
                                    bottom: 0px;
                                    background-position-x: 100%;
                                    right: 115px;
                                    z-index: 1;
                                }
                            }
                        }
                        //真人
                        &:nth-of-type(2) {
                            background-position-x: 20%;
                            .word {
                                background-position-x: 20%;
                            }
                            .img {
                                width: 205px;
                                height: 205px;
                                background: url('../images/main_img2.png') no-repeat;
                                background-size: 300%;
                                position: absolute;
                                &.um1 {
                                    bottom: 0px;
                                    right: 20px;
                                    z-index: 3;
                                }
                                &.um2 {
                                    bottom: 0px;
                                    background-position-x: 100%;
                                    right: -50px;
                                    z-index: 2;
                                }
                                &.um3 {
                                    bottom: 0px;
                                    background-position-x: 50%;
                                    right: 115px;
                                    z-index: 1;
                                }
                            }
                        }
                        //老虎機
                        &:nth-of-type(3) {
                            background-position-x: 40%;
                            margin-right: 0px;
                            .word {
                                background-position-x: 40%;
                                left: -2%;
                            }
                            .img {
                                width: 265px;
                                height: 215px;
                                background: url('../images/main_img3.png') no-repeat;
                                background-size: 200%;
                                position: absolute;
                                &.ur1 {
                                    bottom: -14px;
                                    right: -20px;
                                    z-index: 3;
                                }
                                &.ur2 {
                                    bottom: 7px;
                                    background-position-x: 100%;
                                    right: 0px;
                                    z-index: 2;
                                }
                            }
                        }
                        //彩票
                        &:nth-of-type(4) {
                            background-position-x: 60%;
                            .word {
                                background-position-x: 60%;
                                left: -2%;
                            }
                            .img {
                                width: 250px;
                                height: 190px;
                                background: url('../images/main_img4.png') no-repeat;
                                background-size: 300%;
                                position: absolute;
                                &.dl1 {
                                    bottom: 0px;
                                    right: -5px;
                                    z-index: 3;
                                }
                                &.dl2 {
                                    bottom: 45px;
                                    background-position-x: 50%;
                                    right: 45px;
                                    z-index: 2;
                                }
                                &.dl3 {
                                    bottom: 45px;
                                    background-position-x: 100%;
                                    right: -50px;
                                    z-index: 1;
                                }
                            }
                        }
                        //捕魚機
                        &:nth-of-type(5) {
                            background-position-x: 80%;
                            .word {
                                background-position-x: 80%;
                                left: -2%;
                            }
                            .img {
                                width: 250px;
                                height: 200px;
                                background: url('../images/main_img5.png') no-repeat;
                                background-size: 400%;
                                position: absolute;
                                &.dm1 {
                                    bottom: 0px;
                                    right: -10px;
                                    z-index: 3;
                                }
                                &.dm2 {
                                    bottom: 57px;
                                    background-position-x: -250px;
                                    right: 83px;
                                    z-index: 2;
                                }
                                &.dm3 {
                                    bottom: -70px;
                                    background-position-x: -500px;
                                    right: 93px;
                                    z-index: 4;
                                }
                                &.dm4 {
                                    bottom: 43px;
                                    background-position-x: -750px;
                                    right: -95px;
                                    z-index: 1;
                                }
                            }
                        }
                        //棋牌
                        &:nth-of-type(6) {
                            background-position-x: 100%;
                            margin-right: 0px;
                            .word {
                                background-position-x: 100%;
                            }
                            .img {
                                width: 298px;
                                height: 187px;
                                background: url('../images/main_img6.png') no-repeat;
                                background-size: 100%;
                                position: absolute;
                                &.dr1 {
                                    bottom: 15px;
                                    right: -20px;
                                    z-index: 3;
                                }
                            }
                        }
                        //動畫觸發
                        &.hover {
                            animation: img_overflow 0.6s linear 0s;
                            .word {
                                z-index: 12;
                                transform: translateY(0%);
                                top: 0%;
                                animation: img_word 0.3s ease-out 0s;
                            }
                            .board {
                                display: block;
                                animation: img_button 0.3s ease-out 0s;
                            }
                            &:nth-of-type(1) {
                                .img {
                                    &.ul1 {
                                        animation: img_ul1 0.5s ease-out 0s;
                                    }
                                    &.ul2 {
                                        animation: img_ul2 0.5s ease-out 0s;
                                    }
                                    &.ul3 {
                                        animation: img_ul3 0.65s ease-out 0s;
                                    }
                                }
                            }
                            &:nth-of-type(2) {
                                .img {
                                    transform-origin: bottom;
                                    &.um1 {
                                        animation: img_um1 0.4s ease-out 0s;
                                    }
                                    &.um2 {
                                        animation: img_um1 0.4s ease-out 0s,img_um2 0.3s linear 0.4s;
                                    }
                                    &.um3 {
                                        animation: img_um1 0.4s ease-out 0s,img_um3 0.5s linear 0.5s;
                                    }
                                }
                            }
                            &:nth-of-type(3) {
                                .img {
                                    &.ur1 {
                                        transform: rotate(30deg);
                                        z-index: 11;
                                        animation: img_ur1 0.7s ease-out 0s;
                                    }
                                    &.ur2 {
                                        transform: rotate(30deg);
                                        animation: img_ur2 0.8s ease-out 0s infinite;
                                    }
                                }
                            }
                            &:nth-of-type(4) {
                                .img {
                                    &.dl1 {
                                        transform: rotate(30deg);
                                        z-index: 11;
                                        animation: img_ur1 0.7s ease-out 0s;
                                    }
                                    &.dl2 {
                                        transform: rotate(30deg) translateY(-10%) translateX(10%);
                                        animation: img_dl1 0.7s ease-out 0s,img_dl3 0.7s ease-in-out 0.4s infinite alternate;
                                    }
                                    &.dl3 {
                                        transform: rotate(30deg) translateY(10%) translateX(10%);
                                        animation: img_dl2 0.7s ease-out 0s,img_dl4 0.8s ease-in-out 0.4s infinite alternate;
                                    }
                                }
                            }
                            &:nth-of-type(5) {
                                .img {
                                    &.dm1 {
                                        animation: img_dm1 0.4s ease-out 0s;
                                    }
                                    &.dm2 {
                                        animation: img_dm2 0.6s ease-out 0s;
                                    }
                                    &.dm3 {
                                        z-index: 11;
                                        animation: img_dm3 0.5s ease-out 0s;
                                    }
                                    &.dm4 {
                                        animation: img_dm4 0.4s ease-out 0s;
                                    }
                                }
                            }
                            &:nth-of-type(6) {
                                .img {
                                    &.dr1 {
                                        z-index: 11;
                                        transform: rotate(30deg);
                                        animation: img_ur1 0.7s ease-out 0s;
                                    }
                                }
                            }
                        }
                        //字
                        .word {
                            width: 165px;
                            height: 80px;
                            background: url('../images/main_imgword.png') no-repeat;
                            position: absolute;
                            top: 50%;
                            left: 2%;
                            transform: translateY(-50%);
                            z-index: 5;
                        }
                        //黑區
                        .board {
                            display: none;
                            width: 100%;
                            height: 60%;
                            position: absolute;
                            bottom: 0px;
                            z-index: 0;
                            background: #000000a8;
                            border-radius: 0px 0px 15px 15px;
                            clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);
                            pointer-events: none;
                            /*for IE*/
                            @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                                background: transparent;
                            }
                            /*for IE 9*/
                            @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                                background: transparent;
                            }
                            span {
                                display: block;
                                width: 100px;
                                height: 50px;
                                color: #fff;
                                position: absolute;
                                top: 35%;
                                text-align: center;
                                line-height: 50px;
                                border-radius: 10px;
                                border: solid 3px #fff;
                                left: 3.5%;
                                font-size: 18px;
                                font-weight: bold;
                                background: linear-gradient(to top, #ff5a00 0%, #ffa200 100%);
                                background-color: #ff5a00;
                            }
                        }
                        //觸發區
                        a {
                            display: block;
                            width: 100%;
                            height: 100%;
                            border-radius: 15px;
                            position: relative;
                            z-index: 15;
                        }
                    }
                }
            }
        }
        //footer
        footer {
            width: 100%;
            height: 130px;
            transform: translateY(130px);
            margin-top: 70px;
            //上部
            .top {
                width: 100%;
                height: 40px;
                background: #c79a6f;
                //置中外包
                article {
                    //下選單
                    .bottomlist {
                        float: left;
                        li {
                            float: left;
                            line-height: 40px;
                            overflow: hidden;
                            a {
                                font-size: 15px;
                                height: 100%;
                                padding: 15px;
                                color: #fff;
                                &:hover,&:active,&.active {
                                    background: #2f333d;
                                }
                            }
                        }
                    }
                    p {
                        float: right;
                        line-height: 40px;
                        color: #fff;
                        font-size: 15px;
                    }
                }
            }
            .bottom {
                width: 100%;
                height: 90px;
                background: #2f333d;
                text-align: center;
                p {
                    font-size: 14px;
                    padding-top: 17px;
                    color: #b4bac8;
                    line-height: 30px;
                }
            }
        }
        //懸浮列
        .fixside {
            button {
                position: fixed;
                width: 0px;
                padding: 0px 40px 0px 26px;
                font-size: 16px;
                top: 215px;
                height: 160px;
                background: linear-gradient(to top, #fcffff 0%, #d1dbf1 48%, #ffffff 100%);
                background-color: #d1dbf1;
                box-shadow: 0px 0px 10px 0px rgba(27,44,136,.5);
                &:hover,&:active,&.active {
                    color: #fff;
                    background: linear-gradient(to top,#efd2b0 0%,#b89470 32%,#c8af91 63%,#f8dbbc 100%);
                    background-color: #b89470;
                    span {
                        background-position-y: 100%;
                    }
                }
                &:last-child {
                    top: 395px;
                }
                span {
                    display: block;
                    width: 30px;
                    height: 30px;
                    background: url('../images/fixside_ic.png') no-repeat;
                    background-size: 400%;
                    margin: 0px 0px 6px -7px;
                    /*for IE*/
                    @media screen and (-ms-high-contrast: active),(-ms-high-contrast: none){
                        margin-bottom: 15px;
                    }
                    /*for IE 9*/
                    @media all and (min-width:0\0) and (min-resolution:.001dpcm){
                        margin-bottom: 15px;
                    }
                }
            }
            .left {
                button {
                    left: 0px;
                    border-radius: 0px 15px 15px 0px;
                    &:last-child {
                        span {
                            background-position-x: -30px;
                        }
                    }
                }
                .QR {
                    display: none;
                    position: fixed;
                    width: 140px;
                    height: 160px;
                    background: #fff;
                    box-shadow: 0px 0px 10px 0px rgba(27,44,136,.5);
                    top: 395px;
                    left: 90px;
                    border-radius: 5px;
                    text-align: center;
                    font-size: 14px;
                    color: #af8259;
                    &.display {
                        display: block;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-color: transparent #fff transparent transparent;
                        border-width: 10px;
                        top: 65px;
                        left: -20px;
                    }
                    span {
                        display: block;
                        width: 106px;
                        height: 106px;
                        background: url('../images/QRcode.png') no-repeat;
                        margin: 15px auto;
                    }
                }
            }
            .right {
                button {
                    right: 0px;
                    border-radius: 15px 0px 0px 15px;
                    span {
                        background-position-x: -60px;
                    }
                    &:last-child {
                        span {
                            background-position-x: -90px;
                        }
                    }
                }
            }
            .gotop {
                display: none;
                height: 56px;
                right: 0px;
                border-radius: 15px 0px 0px 15px;
                &:hover,&:active,&.active {
                    background: linear-gradient(to top, #fcffff 0%, #d1dbf1 48%, #ffffff 100%);
                    background-color: #d1dbf1;
                }
                &:last-child {
                    top: 800px;
                }
                span {
                    width: 35px;
                    height: 35px;
                    border-radius: 20px;
                    background-image: none;
                    background: linear-gradient(to bottom,#e0ba96 0%,#b4865d 100%);
                    background-color: #b4865d;
                    margin: 0px 0px 0px -9px;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        width: 15px;
                        height: 17px;
                        top: 9px;
                        left: 10px;
                        background: url('../images/arrow_silver.png') no-repeat;
                    }
                }
            }
        }
        //背景
        .bg {
            width: 100%;
            min-width: 1280px;
            height: 100%;
            background: url('../images/bg.jpg') no-repeat top center;
            position: fixed;
            top: 0;
            left: 0;
            z-index: -999;
        }
    }
}

//動畫區

//上選單動畫
@keyframes toplist {
    0% {
        top: 0px;
    }
    30% {
        top: 55px;
    }
    31% {
        opacity: 0;
        top: -55px;
    }
    36% {
        opacity: 1;
    }
    41% {
        top: -15px;
    }
    81% {
        top: 0px;
    }
}
//暫時overflow
@keyframes img_overflow {
    0% {
        overflow: hidden;
    }
}
//上左動畫
@keyframes img_ul1 {
    0% {
        opacity: 0;
        transform: scale(0) translateY(100%) translateX(-50%);
    }
}
@keyframes img_ul2 {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    50% {
        opacity: 0;
        transform: translateX(-50%);
    }
}
@keyframes img_ul3 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    50% {
        opacity: 0;
        transform: translateX(50%);
    }
}
//上中動畫
@keyframes img_um1 {
    0% {
        transform: rotate(90deg) translateX(50%) translateY(-50%);
    }
}
@keyframes img_um2 {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-10%);
    }
    
}
@keyframes img_um3 {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-10deg) translateY(-10%);
    }
    75% {
        transform: rotate(5deg) translateY(-10%);
    }
}
//上右動畫
@keyframes img_ur1 {
    0% {
        transform: rotate(0) scale(1);
    }
    30% {
        transform: rotate(30deg) scale(0.8);
    }
    60% {
        transform: rotate(30deg) scale(1.1);
    }
}
@keyframes img_ur2 {
    0% {
        transform: rotate(30deg) scale(0.4);
    }
    100% {
        transform: rotate(30deg) scale(1.2);
    }
}
//下左動畫
@keyframes img_dl1 {
    0% {
        transform: rotate(0) scale(1);
    }
    30% {
        transform: rotate(30deg) scale(0.8) translateX(10%) translateY(-10%);
    }
    60% {
        transform: rotate(30deg) scale(1.1) translateX(10%) translateY(-10%);
    }
}
@keyframes img_dl2 {
    0% {
        transform: rotate(0) scale(1);
    }
    30% {
        transform: rotate(30deg) scale(0.8) translateX(10%) translateY(10%);
    }
    60% {
        transform: rotate(30deg) scale(1.1) translateX(10%) translateY(10%);
    }
}
@keyframes img_dl3 {
    0% {
        transform: rotate(30deg) translateX(10%) translateY(-10%);
    }
    100% {
        transform: rotate(45deg) translateX(10%) translateY(-10%);
    }
}
@keyframes img_dl4 {
    0% {
        transform: rotate(30deg) translateX(10%) translateY(10%);
    }
    100% {
        transform: rotate(45deg) translateX(10%) translateY(10%);
    }
}
//下中動畫
@keyframes img_dm1 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
}
@keyframes img_dm2 {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    75% {
        opacity: 0;
        transform: translateX(50%);
    }
}
@keyframes img_dm3 {
    0% {
        opacity: 0;
        transform: scale(0) translateY(20%) translateX(20%);
    }
    50% {
        opacity: 0;
        transform: scale(0) translateY(20%) translateX(20%);
    }
}
@keyframes img_dm4 {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(50%);
    }
    30% {
        opacity: 0;
        transform: translateX(-50%) translateY(50%);
    }
}
//背景動畫
@keyframes bg1 {
    0% {
        opacity: 0;
        top: 0px;
    }
    30% {
        opacity: 1;
    }
    100% {
        top: -500px;
    }
}
@keyframes bg2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes bg3 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(60deg);
    }
}
@keyframes bg4 {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateX(100%) translateY(200%);
    }
}
//字動畫
@keyframes img_word {
    0% {
        transform: translateY(-50%);
        top: 50%;
    }
    100% {
        transform: translateY(0%);
        top: 0%;
    }
}
//按鈕動畫
@keyframes img_button {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
}